node_modules/
dist/
.next/
snoozmnky/
*.log
.DS_Store
.vscode/
*.zip
SnoozMnky-deploy/
app/
lib/
constants/
md/
public/
server.js
*.config.ts
*.config.mjs
next.config.ts
next-env.d.ts
postcss.config.mjs
eslint.config.mjs
tsconfig.json
tsconfig.app.json
next.config.*
package-lock.json